<div class="margin-top-25vh">
  <div class="about-me">
    <h2 class="about-me-name">
      Emmanuel Paul Moralde
    </h2>
    <p class="about-me-role">
      Full Stack Developer
    </p>
    <p class="about-me-description">
      Hello, I'm Emmanuel Paul Moralde, I'm focusing in Web Developlment using 
      ASP.NET MVC Framework for back-end development and AngularJS 
      for front-end development, I also have moderate knowledge in 
      Angular Framework (this website made of). I just finished 
      college with a degree of Information Technology this year so 
      I don't have much experience but I can assure you that I will 
      do everything I got to finish the tasks given to me. 
    </p>
  </div>
</div>