<div class="margin-top-25vh">
  <div class="page-header">
    <h1 class="page-title">
      About me
      <hr>
    </h1>
  </div>
  <div class="about-me">
    <h2 class="about-me-name">
      Emmanuel Paul Moralde
    </h2>
    <p class="about-me-role">
      Junior Web Developer
    </p>
    <p class="about-me-description">
      Hello, I'm Emmanuel Paul Moralde. Right now, I'm focusing in Web Development using 
      either ASP.NET MVC Framework or PHP for back-end development. I just finished 
      college this year with a degree of Information Technology so 
      I don't have much experience but I can assure you that I am confident 
      that I can finish any tasks given to me. 
    </p>
  </div>
  <app-contacts></app-contacts>
  <div class="page-header">
      <h1 class="page-title">
        Skills
        <hr>
      </h1>
  </div>
  <app-my-skills></app-my-skills>
</div>

<div class="content">
  <header></header>
  <div class="class-nga-pampacenter">
    <section class="hero"></section>
  </div>
</div>