@mixin navItem {
    border: .2rem solid $color-white;
    box-shadow: .1rem .1rem 2rem rgba($color-white, .5);
    transform: translateY(-.2rem);

    &:not(.item) {
        text-shadow: .1rem .1rem .5rem $color-white;
    }
    &:not(a) .item {
        text-shadow: .1rem .1rem .5rem $color-white;
    }
}

@mixin font-secondary {
    font-family: 'Montserrat', sans-serif;
}

@mixin text-default {
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    word-spacing: $word-spacing;
}

@mixin arrow-after {
    content: '';
    position: absolute;
    top: .7rem;
    right: 100%;
    width: 0;
    height: 0;
    border: 1.5rem solid transparent;
    border-right-color: white;
}