@keyframes leftToRight {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    from {
        opacity: 0;
        transform: translateX(3rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeOutLinkedIn {
    from {
        margin-left: 9rem;
        opacity: 1;
    }
    to {
        margin-left: 9rem;
        opacity: 0;
    }
}

@keyframes bottomTotop {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes topToBottom {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes github-container-trans {
    from {
        clip-path: circle(0% at 50% 50%);
    }
    to {
        clip-path: circle(50% at 50% 50%);
    }
}

@keyframes scaleHR {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes timelineAnimate {
    
    0% {
        height: 0;
    }
    to {
        height: 95%;
    }
}