h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    color: $color-white;
    cursor: default;
}

p, img {
    @include font-secondary;
    color: $color-white;
    cursor: default;
}

button {
    color: $color-white;
    @include font-secondary;
}

a:link, a:visited {
    @include font-secondary;
    text-decoration: none;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 2rem;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;

    .header-main {
        font-size: 4rem;
        margin-bottom: .6rem;
        word-spacing: $word-spacing;
        letter-spacing: $letter-spacing;
        display: block;
        animation: bottomTotop 1.3s;
        animation-delay: .5s;
        animation-fill-mode: backwards;
        text-transform: uppercase;
        cursor: default;
    }
    
    .header-sub {
        font-size: 3rem;
        font-weight: 700;
        font-weight: 700;
        word-spacing: $word-spacing;
        display: block;
        text-transform: uppercase;
        cursor: default;

        animation: bottomTotop 1.2s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
    }
}

.about-me {
    font-size: $font-size;
    display: inline-block;
    padding: 0 20%;
    backface-visibility: hidden;

    &-name {
        font-size: calc(#{$font-size} + 1rem);
        letter-spacing: .4rem;
        margin-bottom: .3rem;
        text-transform: uppercase;

        animation: leftToRight 1s;
    }

    &-role {
        font-size: calc(#{$font-size} + 1rem);
        margin-bottom: 3rem;
        text-transform: uppercase;

        animation: rightToLeft 1s;
    }

    &-description {
        line-height: 3.4rem;
        letter-spacing: .2rem;
        word-spacing: .5rem;
        text-align: justify;
        margin-bottom: 5rem;

        animation: bottomTotop 1s;
    }
}

.project-title {
    font-size: calc(#{$font-size} + .5rem);
}
.project-description {
    margin-top: 1rem;
    font-size: $font-size;
    line-height: 3.5rem;
}
.project-role {
    margin-top: 1rem;
    font-size: $font-size;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    .about-me {
        padding: 4rem;
    }
}