.page-container {
    min-height: 100vh;
    background-color: $color-black;
    padding: 3rem;
    position: relative;

    .component-container {
        padding: 0;
    }
}

.margin-top-25vh {
    margin-top: 25vh;
}

