<div class="contacts">
    <ul class="contacts-items">
        <li>
            <a href="mailto:moralde.sama@gmail.com" target="_blank" rel="noopener noreferrer">
                <img class="contacts-icon" src="assets/img/gmail.png" alt="Gmail Icon">
                <p class="contact-label">Gmail</p>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/moralde-sama" target="_blank" rel="noopener noreferrer">
                <img class="contacts-icon" src="assets/img/linkin.png" alt="LinkIn Icon">
                <p class="contact-label">LinkIn</p>
            </a>
        </li>
    </ul>
</div>
