<nav>
  <ul class="navigation-list">
    <li class="navigation-item">
        <button type="button" routerLink="/workexperience" (click)="navigate($event)" class="item">Work Experience</button>
    </li>
    <li class="navigation-item">
      <button type="button" routerLink="/projects" (click)="navigate($event)" class="item">Projects</button>
    </li>
    <li class="navigation-item">
        <button type="button" routerLink="/resume" (click)="navigate($event)" class="item">Resume</button>
    </li>
    <li class="navigation-item">
      <button type="button" routerLink="/aboutme" (click)="navigate($event)" class="item">About Me</button>
  </li>
  </ul>
</nav>
<div class="github-container">
  <a href="https://github.com/Moralde-Sama" aria-label="Github Account" target="_blank" class="github-link" rel="noopener">
    <img src="assets/img/github.svg" alt="Github Icon">
  </a>
</div>