<nav>
  <ul class="navigation-list">
    <li class="navigation-item">
        <a routerLink="/workexperience" (click)="navigate($event)" class="item">Work Experience</a>
    </li>
    <li class="navigation-item">
      <a routerLink="/projects" (click)="navigate($event)" class="item">Projects</a>
    </li>
    <li class="navigation-item">
        <a routerLink="/resume" (click)="navigate($event)" class="item">Resume</a>
    </li>
    <li class="navigation-item">
      <a routerLink="/aboutme" (click)="navigate($event)" class="item">About Me</a>
  </li>
  </ul>
</nav>
<div class="github-container">
  <a href="https://github.com/Moralde-Sama" aria-label="Github Account" target="_blank" class="github-link" rel="noopener">
    <img src="assets/img/github.svg" alt="Github Icon">
  </a>
</div>