<h3 class="skills-type">
  Desktop App Development
</h3>
<div class="skill-item">
     <img class="skill-item--img"
      src="assets/img/mssqlserver.svg"
      alt="microsoft-sql-server Logo"
      style="width: 17rem;">
  <h5 class="skill-item--name">MS SQL Server <span><hr></span></h5>
</div>
<div class="skill-item">
  <img class="skill-item--img"
  src="assets/img/C-Sharp-01.svg"
  alt="C-Sharp Logo"
  style="width: 18rem;">
  <h5 class="skill-item--name">C# <span><hr></span></h5>
</div>
<div class="skill-item">
  <img class="skill-item--img"
   src="assets/img/java-logo.png"
   alt="JavaFX Logo"
   style="width: 18rem;">
  <h5 class="skill-item--name">Java</h5>
</div>