@import '../abstracts/variables';

.headingContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .headingName {
        font-size: 3rem;
        color: white;
        letter-spacing: 2px;
    }

    .headingRole {
        font-size: 2rem;
        color: white;
        letter-spacing: 2px;
    }
}