<h3 class="skills-type">
  Mobile App Development
</h3>
<div class="skill-item">
  <img class="skill-item--img"
   src="assets/img/Ionic-01.svg"
   alt="Ionic Framework Logo"
   style="width: 18.3rem; height: 18rem;">
  <h5 class="skill-item--name">Ionic Framework 4 <span><hr></span></h5>
</div>
<div class="skill-item">
  <img class="skill-item--img"
   src="https://angular.io/assets/images/logos/angular/shield-large.svg"
   alt="Angular Framework Logo">
  <h5 class="skill-item--name">Angular Framework</h5>
</div>