.button-container {
    margin-top: 5rem;
    display: inline-block;
}
.github-container {
    position: fixed;
    top: -17.5rem;
    right: -17.5rem;
    border-radius: 50%;
    z-index: 3;
    width: 35rem;
    height: 35rem;
    background-color: $color-white;
    clip-path: circle(50% at 50% 50%);
    animation: github-container-trans .5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;

    .github-link {
        img {
            width: 8rem;
            margin-top: 54%;
            margin-left: 24%;
            animation: fadeOut 1s;
            animation-delay: 2.2s;
            animation-fill-mode: backwards;
        }
    }
}