<div class="project-card" appAnimationDelay [Index]="index">
  <div class="project-owner-profile">
    <img [src]="project.owner_profile" alt="Github repository owner">
  </div>
  <div class="project-content">
    <h2 class="project-title">
      {{project.title}}
    </h2>
    <p class="project-description">
      {{project.description}}
    </p>
    <p class="project-role">
      Role: {{project.role}}
    </p>
    <ul class="technologies">
      <li *ngFor="let technology of project.technologies">{{technology}}</li>
    </ul>
    <div class="project-repo">
      <div class="project-btns">
        <a *ngIf="project.website" href="{{project.website}}"
            class="btn project"
            class="btn project" 
            aria-label="Website" 
            target="_blank" 
            rel="noopener">Website</a>
        <a href="{{project.owner_link}}"
            class="btn project"
            class="btn project" 
            aria-label="Repository Owner" 
            target="_blank" 
            rel="noopener">Owner</a>
        <a href="{{project.github_repository}}" 
          class="btn project" 
          aria-label="Github Repository" 
          target="_blank" 
          rel="noopener">Repository</a>
      </div>
    </div>
</div>