<div class="project-card" appAnimationDelay [Index]="index">
  <div class="project-owner-profile">
    <img src="https://avatars3.githubusercontent.com/u/41711381?v=4" alt="Github repository owner">
  </div>
  <div class="project-content">
    <h2 class="project-title">
      Test Test
    </h2>
    <p class="project-description">
      [Developing] Mobile Version of Test Test using their API
    </p>
    <p class="project-role">
      Role: Full Stack Web Developer
    </p>
    <ul class="technologies">
      <li>Angular Framework</li>
      <li>Ionic Framework</li>
      <li>Cordova</li>
    </ul>
</div>