<div class="author">
    <label class="title">
        Test Test Test
    </label>
    <p class="role">
        Full Stack Web Developer
      </p>
  </div>
  <div class="message">
    <p>Hello, I'm Test Test, I'm focusing in Web Developlment using
      ASP.NET MVC Framework for back-end development and AngularJS for
      front-end development, I also have moderate knowledge in
      Angular Framework (this website made of). I just finished
      college with a degree of Information Technology this year so
      I don't have much experience but I can assure you that I will do
      everything I got to finish the tasks given to me.
    </p>
  </div>