<nav>
  <ul class="navigation-list">
    <li class="navigation-item">
        <a href="#" class="item">Work Experience</a>
    </li>
    <li class="navigation-item">
      <a href="#" class="item">Projects</a>
    </li>
    <li class="navigation-item">
        <a href="#" class="item">Resume</a>
    </li>
    <li class="navigation-item">
      <a href="#" class="item">About Me</a>
  </li>
  </ul>
</nav>
<div class="github-container">
  <a href="https://github.com/Moralde-Sama" target="_blank" class="github-link">
    <img src="assets/img/github.svg" alt="">
  </a>
</div>
<div class="header-container">
  <h1 class="header-main">
    I am Emmanuel Paul Moralde
  </h1>
  <p class="header-sub">
    Full Stack Developer
  </p>
</div>