<div class="margin-top-25vh">
  <div class="page-header">
    <h1 class="page-title">
      Resume
      <hr>
    </h1>
  </div>
  <div class="resume-btns">
    <a href="https://docs.google.com/document/d/1H2Fq5Pf_OQXDCoDAQVvW2q9jctRJ6MqfreCQuI6e6Pk/edit?usp=sharing" 
      class="btn project animate delay-1" aria-label="CV Doc" target="_blank" rel="noopener">
      View Resume (Google Docs)
    </a>
    <a href="https://docs.google.com/document/u/2/export?format=pdf&id=1H2Fq5Pf_OQXDCoDAQVvW2q9jctRJ6MqfreCQuI6e6Pk&token=AC4w5Vjot1tIumdTBdC-0pievlCkIR59zQ%3A1564031597908&ouid=113806183694211663038&includes_info_params=true"
      class="btn project animate delay-2" aria-label="Download PDF">
      Download (PDF)
    </a>
    <a href="https://docs.google.com/document/u/2/export?format=docx&id=1H2Fq5Pf_OQXDCoDAQVvW2q9jctRJ6MqfreCQuI6e6Pk&token=AC4w5Vjot1tIumdTBdC-0pievlCkIR59zQ%3A1564031597908&ouid=113806183694211663038&includes_info_params=true"
      class="btn project animate delay-3" aria-label="Download Doc">
      Download (MS Word)
    </a>
  </div>
</div>