nav {
    position: fixed;
    z-index: 3;
    padding: 4rem;
    background-color: $color-black;
    box-shadow: 0 1.5rem 2rem rgba($color-black, .5);
    width: 100%;

    .navigation-list {
        list-style: none;
        margin-right: 9.1rem;
        backface-visibility: hidden;

        .navigation-item {
            display: inline-block;
            padding: 1.5rem;
            animation: rightToLeft 1s;
            animation-delay: 2.3s;
            animation-fill-mode: backwards;
            border: .2rem solid transparent;
            border-radius: 1rem;
            transition: all .5s;

            &:not(:last-child) {
                margin-right: 2rem;
            }

            &.selected {
                @include navItem;
                &:hover {
                    @include navItem;
                }
            }

            &:hover   {
                @include navItem;
            }

            &:active  {
                box-shadow: 0 0 0 rgba($color-white, .5);
                transform: translateY(0);
            }

            .item {
                color: $color-white;
                font-size: 2.3rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: $letter-spacing;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 2rem 4rem;
    }
}